# LIBRARIES AND DATA IMPORT

In [1]:
library(dplyr)
library(DataExplorer)
library(ggplot2)
library(tidyr)
library(patchwork)
library(cowplot)

Dołączanie pakietu: ‘dplyr’


Następujące obiekty zostały zakryte z ‘package:stats’:

    filter, lag


Następujące obiekty zostały zakryte z ‘package:base’:

    intersect, setdiff, setequal, union



Dołączanie pakietu: ‘cowplot’


Następujący obiekt został zakryty z ‘package:patchwork’:

    align_plots

In [43]:
path_data = file.path("data", "sample_data.csv")
adult_data <- read.csv(path_data, stringsAsFactors = TRUE)

# BASIC INFORMATION AND STATISTICS

In [44]:
colnames(adult_data)

 [1] "X"              "age"            "workclass"      "education"
 [5] "marital.status" "occupation"     "relationship"   "race"
 [9] "sex"            "hours.per.week" "income_binary"  "capital"
[13] "continent"

In [45]:
sapply(adult_data, class)

             X            age      workclass      education marital.status
     "integer"      "integer"       "factor"       "factor"       "factor"
    occupation   relationship           race            sex hours.per.week
      "factor"       "factor"       "factor"       "factor"      "integer"
 income_binary        capital      continent
     "integer"      "integer"       "factor"

In [46]:
nrow(adult_data)

[1] 5000

In [47]:
length(adult_data)

[1] 13

In [48]:
numerical_columns <- sapply(adult_data, is.numeric)
names(adult_data[numerical_columns])
sum(numerical_columns)

[1] "X"              "age"            "hours.per.week" "income_binary"
[5] "capital"

[1] 5

In [49]:
factor_columns <- sapply(adult_data, is.factor)
names(adult_data[factor_columns])
sum(factor_columns)

[1] "workclass"      "education"      "marital.status" "occupation"
[5] "relationship"   "race"           "sex"            "continent"

[1] 8

### SUMMARIES

In [50]:
summary(adult_data$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   28.00   37.00   38.53   47.00   90.00

In [51]:
summary(adult_data$hours.per.week)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   2.00   40.00   40.00   40.71   45.00   99.00

In [52]:
summary(adult_data$capital)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
-3004.0     0.0     0.0   918.2     0.0 99999.0

In [53]:
summary(adult_data$income_binary)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 0.0000  0.0000  0.0000  0.2414  0.0000  1.0000

### UNIQUE VALUES

In [54]:
num_unique_values <- sapply(adult_data, function(x) length(unique(x)))

# Wydrukuj nazwę kolumny i liczbę unikalnych wartości dla każdej kolumny
for (i in 1:length(num_unique_values)) {
  print(paste0(names(num_unique_values)[i], ": ", num_unique_values[i]))
}

[1] "X: 5000"
[1] "age: 68"
[1] "workclass: 7"
[1] "education: 16"
[1] "marital.status: 7"
[1] "occupation: 14"
[1] "relationship: 6"
[1] "race: 5"
[1] "sex: 2"
[1] "hours.per.week: 76"
[1] "income_binary: 2"
[1] "capital: 126"
[1] "continent: 6"

In [55]:
levels(adult_data$workclass)

[1] "Federal-gov"      "Local-gov"        "Private"          "Self-emp-inc"
[5] "Self-emp-not-inc" "State-gov"        "Without-pay"

In [56]:
levels(adult_data$education)

 [1] "10th"         "11th"         "12th"         "1st-4th"      "5th-6th"
 [6] "7th-8th"      "9th"          "Assoc-acdm"   "Assoc-voc"    "Bachelors"
[11] "Doctorate"    "HS-grad"      "Masters"      "Preschool"    "Prof-school"
[16] "Some-college"

In [57]:
levels(adult_data$marital.status)

[1] "Divorced"              "Married-AF-spouse"     "Married-civ-spouse"
[4] "Married-spouse-absent" "Never-married"         "Separated"
[7] "Widowed"

In [58]:
levels(adult_data$occupation)

 [1] "Adm-clerical"      "Armed-Forces"      "Craft-repair"
 [4] "Exec-managerial"   "Farming-fishing"   "Handlers-cleaners"
 [7] "Machine-op-inspct" "Other-service"     "Priv-house-serv"
[10] "Prof-specialty"    "Protective-serv"   "Sales"
[13] "Tech-support"      "Transport-moving"

In [59]:
levels(adult_data$relationship)

[1] "Husband"        "Not-in-family"  "Other-relative" "Own-child"
[5] "Unmarried"      "Wife"

In [60]:
levels(adult_data$race)

[1] "Amer-Indian-Eskimo" "Asian-Pac-Islander" "Black"
[4] "Other"              "White"

In [61]:
levels(adult_data$sex)

[1] "Female" "Male"

In [62]:
levels(adult_data$continent)

[1] "East Asia & Pacific"        "Europe & Central Asia"
[3] "Latin America & Caribbean"  "Middle East & North Africa"
[5] "North America"              "South Asia"

# DATA PREPARATION/ANALYSIS

In [23]:
#education.num = education
adult_data <- subset(adult_data, select = -X)

In [24]:
head(adult_data)

  age workclass education    marital.status     occupation      relationship
1 59  State-gov HS-grad      Married-civ-spouse Other-service   Husband
2 41  Private   HS-grad      Married-civ-spouse Craft-repair    Husband
3 29  Private   Bachelors    Never-married      Adm-clerical    Not-in-family
4 41  Private   Some-college Married-civ-spouse Craft-repair    Husband
5 41  Private   5th-6th      Married-civ-spouse Farming-fishing Wife
6 45  Private   HS-grad      Divorced           Adm-clerical    Not-in-family
  race               sex    hours.per.week income_binary capital
1 White              Male   40             0             0
2 Asian-Pac-Islander Male   40             0             0
3 White              Female 35             0             0
4 White              Male   45             0             0
5 White              Female 40             0             0
6 White              Female 40             0             0
  continent
1 North America
2 East Asia & Pacific
3 North America
4 North America
5 Latin America & Caribbean
6 North America